* {
 margin: 0;
 padding: 0;
}

.container {
  background: linear-gradient(to right bottom, #e1b382, #c89666);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper{
  background-color: rgba(1, 1, 10, 0);
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px rgba(12, 1, 1, 0.953);
  margin-bottom: 10px;
  background-color: #2a2929
}

.header h1 {
  color: rgb(251, 249, 248);
  text-align: center;
  margin: 30px 0;
}

.task-input {
outline: none;
width: 260px;
padding: 15px;
margin-right: 25px;
font-size: 20px;
color: beige;
background-color: black;
border: 1px solid rgb(208, 194, 11);
border-radius: 10px;
}

.button-add {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0px;
  background-color:#f1af71 ;
  cursor: pointer;
}

.list-item {
  display: flex;
  margin: 20px 0;
  border: 1px white;
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
}

.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}

.button-complete {
color: rgb(238, 255, 0);
margin-right: 10px;
}

.button-edit{
  color: rgb(24, 180, 66);
  margin-right: 10px;
}

.button-delete {
color: lightseagreen;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line:line-through ;
  text-decoration-color: #ff6c6c ;
  opacity: 0-6;
}

.list {
width: 220px;
background-color: rgb(55, 52, 52);
border: none;
color: #ccc;
font-size: 20px;
padding-left: 10px;
margin-right: 15px;
border-radius: 5px;
}

input:focus,
button:focus {
  outline: none;
}
