.userinfo{
  width: 200px;
  border: 1px solid red;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  float: left;
  text-align: center;
}
.idinfo{
  width:200px;
  padding: 10px;
  float: left;
  text-align: center;
  border: 1px solid red;
  margin: 10px;
  border-radius: 10px;
}
.nameinfo{
  width: 200px;
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
  text-align: center;
  float:left;
  border-radius: 15px;
}
.postinfo{
  width: 500px;
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
  text-align: center;
  float:left;
  border-radius: 15px;

}
.typeinfo{
  width: 500px;
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
  text-align: center;
  float:left;
  border-radius: 15px;
}
.photoinfo{
  width: 500px;
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
  text-align: center;
  float:left;
  border-radius: 15px;
}
.albuminfo{
  width: 500px;
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
  text-align: center;
  float:left;
  border-radius: 15px;
}
.todoinfo{
  width: 500px;
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
  text-align: center;
  float:left;
  border-radius: 15px;
}